doctype 5
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href="css/styles.css")
    script(type='text/javascript', src='js/vendor/requirejs/require.js', data-main='js/modules/app.js')
    title HTML5 Template Project
  body
    #main
      h1 Hello Template
