doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href="css/styles.css")
    link(rel='stylesheet', type='text/css', href="css/components.css")
    title HTML5 Template Project
    script(type='text/javascript').
      require = {
          waitSeconds: 20,
          paths: {
            app: '/js/modules/app'
          }
      }
  body
    #main.hidden(data-bind='css: {hidden: false}')
      h1 Hello Template

      example-component(params='foo: "bar"')

    script(type='text/javascript', src='js/vendor/require-2.1.22.min.js', data-main='app')
    if development
      script(src="//localhost:35729/livereload.js")
